body{
	margin: 0;
<<<<<<< HEAD
	text-align: center;
=======
>>>>>>> 55eb3e3371745f0f51f4ce620a35ea48036ffe24
}

header {
	background-color: #f15b31;
	padding: 30px 20px;
}

h1 {
	font-family: "Raleway", sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

a {
	font-family: "Raleway", sans-serif;
	color: white;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	margin: 0 20px;	
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}

h2 {
	font-family: "Raleway", sans-serif;
	color: rgb(13,44,64);
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;	
}

p {
	font-family: "Droid Serif", serif;
	line-height: 26px;
	font-size: 18px;
}

nav {
	background-color: #00a6b3;
<<<<<<< HEAD
	padding: 20px 0;
=======
	padding: 20px 0px;
>>>>>>> 55eb3e3371745f0f51f4ce620a35ea48036ffe24

}

main {
	width: 850px;
	margin: 35px auto;
}

img {
<<<<<<< HEAD
	margin: 40px, 8px, 0, 8px;
=======
	margin: 40px, 8px, 0px, 8px;
>>>>>>> 55eb3e3371745f0f51f4ce620a35ea48036ffe24
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background-color: #0d2c40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright {
	font: "Raleway", sans-serif;
	float: left;
}

.message {
	font: "Raleway", sans-serif;
	float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}